# Sample certsync.config
# OpenSSL comes with most *nix/Mac OS installations
#CMD_OPENSSL="/usr/bin/openssl"

# certtool comes with Apple Mac OSX
#CMD_CERTTOOL="/usr/bin/certtool"

# certutil comes from Mozilla's NSS library
# Sample location is from a macports installation
#CMD_CERTUTIL="/opt/local/bin/nss-certutil"
