# Configuration file for a
# HIGHLY INSECURE TEST CERTIFICATE
# to be used only for testing

[ req ]
distinguished_name     = req_distinguished_name
attributes             = req_attributes
prompt                 = no
output_password        = not-a-good--password

[ req_distinguished_name ]
C                      = UN
ST                     = HIGHLY-INSECURE-CERTIFICATE-ST
L                      = HIGHLY-INSECURE-CERTIFICATE-L
O                      = HIGHLY-INSECURE-CERTIFICATE-O
OU                     = HIGHLY-INSECURE-CERTIFICATE-OU
CN                     = test-certificate.local
emailAddress           = test@test-certificate.local

[ req_attributes ]
challengePassword              = A challenge password
